<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Página de Inicio</title>
</head>
<body>
    <h1>Bienvenido</h1>
    <ul>
        <li><a href="/clientes">Ver Clientes</a></li>
        <li><a href="/clientes_pedidos">Ver Clientes y Pedidos</a></li>
        <li><a href="/ventas_diarias">Calcular Ventas Diarias</a></li>
        <li><a href="/clientes_vigentes">Clientes Vigentes</a></li>
        <li><a href="/pedidos_estado">Pedidos por Estado</a></li>
    </ul>
</body>
</html>
